{% extends "account/base.html" %}

{% load i18n crispy_forms_tags %}

{% block head_title %}{% trans "Invite" %} - ativnos{% endblock %}

{% block inner %}
{% if success_message %}
<div class="alert alert-success" role="alert">
    {{ success_message }}
</div>    
{% endif %}
<h1>{% trans "Invite new user" %}</h1>
<form method="POST" action="{% url 'users:invite' %}">
    {% csrf_token %}
    {{ form|crispy}}
    <button type="submit" class="btn btn-primary">{% trans 'Submit' %}</button>
</form>

{% endblock %}

