{% extends "base.html" %} {% load i18n %} {% block title %}User: {{ object.username }}{% endblock %} {% block content %}
<div class="container">
    <div class="card">
        <div class="card-body">

            <h2 class="card-title">Speech video</h2>
            <h6>for cause: <span class="btn btn-info">Intactivism</span> skill needed: <span class="btn btn-warning">Video Editing</span></h6>
            <h6 class="card-subtitle mb-2 text-muted">created by: <a href="#">Evan</a></h6>
            <p class="card-text">Upload to a media place!?!?</p>
        </div>
    </div>
</div>
{% endblock content %}