{% extends "base.html" %} {% load static i18n %} {% block title %}Tags{% endblock %} {% block content %}
<div class="container">
    {% for item in object_list %}
    <div class="card">
        <div class="card-body">

            <h5 class="card-title">
                <a href="{{ item.get_absolute_url }}">{{ item.name }}</a>
            </h5>
            <h6>
                <span class="text-muted">{% trans "created by:" %}
                    <a href="{{ object.user.get_absolute_url }}">{{ item.user.name }}</a>
                </span>
                {% trans "for cause" %}:
                <span class="btn btn-info btn-sm">{{ item.cause.name }}</span> {% trans "skill needed:" %}
                <span class="btn btn-warning btn-sm">{{ item.skill.name }}</span>
            </h6>
            <p class="card-text">{{ object.description }}</p>
        </div>
    </div>
    {% empty %}
    <p>{% trans "No tasks" %}</p>
    {% endfor %} {% endblock content %}