[Unit]
Description=Docker Compose container starter
After=docker.service network-online.target
Requires=docker.service network-online.target

[Service]
WorkingDirectory=/var/app
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/docker-compose -f production.yml up -d
ExecStop=/usr/bin/docker-compose -f production.yml down
ExecReload=/usr/bin/docker-compose -f production.yml up -d

[Install]
WantedBy=multi-user.target