{% extends "base.html" %} {% load i18n %} {% block title %}profiles - ativnos{% endblock %} {% block content %}
<div class="container">
    {% for user in object_list %}
    <div class="card">        
        <div class="card-body">
            <h5 class="card-title"><a href="{{ user.get_absolute_url}}">{{ user.name }}</a></h5>
            <div>
                {% trans "Causes" %} : {% for item in user.causes.all %}<span class="btn btn-info btn-sm">{{ item.tag.name }}</span>{% endfor %}
                {% trans "Skills" %} : {% for item in user.skills.all %}<span class="btn btn-warning btn-sm">{{ item.tag.name }}</span>{% endfor %}          
            </div>
        </div>
    </div>    
    {% empty %}
    <p>{% trans 'No users match query' %}</p>
    {% endfor %}
</div>
{% endblock %}