{% extends "base.html" %} 
{% load i18n %}

{% block title %}User: {{ object.username }}{% endblock %} 
 
{% block content %}
<div class="container">

    <div class="row">
        <div class="col">

            <h2>{{ user.first_name|default:"Anonymous" }}</h2>
            <p>{{ user.description }}</p>
            {% if request.user == user %}
            <a href="#" class="btn btn-secondary btn-sm">edit</a>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>Causes{% if request.user == user %} <a href="{% url 'tags:causes' %}" class="btn btn-secondary btn-sm">add</a>{% endif %}</h3>
            {% for instance in user.causes.all %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ instance.tag.name }}</h5>
                    <p class="card-text">{{ instance.description }}</p>
                </div>
            </div>
            {% empty %}
            <p>{% trans "no causes added yet" %}</p>
            {% endfor %}
        </div>
    </div>
    <div class="row">
            <div class="col">
                <h3>skills{% if request.user == user %} <a href="{% url 'tags:skills' %}" class="btn btn-secondary btn-sm">add</a>{% endif %}</h3>
                {% for instance in user.skills.all %}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ instance.tag.name }}</h5>
                        <p class="card-text">{{ instance.description }}</p>
                    </div>
                </div>
                {% empty %}
                <p>{% trans "no skills added yet" %}</p>
                {% endfor %}
            </div>
        </div>
    {% if object == request.user %}
    <!-- Action buttons -->
    <div class="row">

        <div class="col-sm-12">
            <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">My Info</a>
            <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">E-Mail</a>
            <!-- Your Stuff: Custom user template urls -->
        </div>

    </div>
    <!-- End Action buttons -->
    {% endif %}


</div>
{% endblock content %}