{% extends "base.html" %} {% load i18n %} {% block title %}User: {{ object.username }}{% endblock %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col">

            <h2>{{ object.name|default:"Anonymous" }}</h2>
            <p>{{ object.description }}</p>
            {% if request.user == object %}
            <a href="{% url 'profiles:update' %}" class="btn btn-secondary btn-sm">edit</a>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3 class="text-muted">{% trans "Causes" %}{% if request.user == object %}
                <a href="{% url 'tags:causes' %}" class="btn btn-secondary btn-sm">add</a>{% endif %}</h3>
            {% for item in object.causes.all %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ item.tag.name }}</h5>
                    <p class="card-text">{{ item.description }}</p>
                    {% if request.user == object %}
                    <a href="{{ item.tag.add_user_tag_url }}" class="btn btn-secondary btn-sm">edit</a>
                    {% endif %}
                </div>
            </div>
            {% empty %}
            <p>{% trans "no causes added yet" %}</p>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3 class="text-muted">{% trans "Skills" %}{% if request.user == object %}
                <a href="{% url 'tags:skills' %}" class="btn btn-secondary btn-sm">add</a>{% endif %}</h3>
            {% for item in object.skills.all %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ item.tag.name }}</h5>
                    <p class="card-text">{{ item.description }}</p>
                    {% if request.user == object %}
                    <a href="{{ item.tag.add_user_tag_url }}" class="btn btn-secondary btn-sm">edit</a>
                    {% endif %}
                </div>
            </div>
            {% empty %}
            <p>{% trans "no skills added yet" %}</p>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3 id="tasks" class="text-muted">{% trans "Tasks" %}
                <a href="{% url 'tasks:create' %}" class="btn btn-secondary btn-sm">{% trans "create task" %}</a>
            </h3>
            {% for item in object.tasks.all %}
            <div class="card">
                <div class="card-body">

                    <h5 class="card-title">
                        <a href="{{ item.get_absolute_url }}">{{ item.name }}</a>
                    </h5>
                    <h6>{% trans "for cause" %}:
                        <span class="btn btn-info btn-sm">{{ item.cause.name }}</span> {% trans "skill needed:" %}
                        <span class="btn btn-warning btn-sm">{{ item.skill.name }}</span>
                    </h6>
                    <p class="card-text">{{ object.description }}</p>
                </div>
            </div>
            {% empty %}
            <p>{% trans "no tasks added yet" %}</p>
            {% endfor %}
        </div>
    </div>

</div>
{% endblock content %}